{% extends 'base.html.twig' %}

{% block title %}Hello ParametreController!
{% endblock %}

{% block body %}
{% if utilisateur != null %}
	<aside class=''>

		{% include "Templates_parts/aside.html.twig" %}
	</aside>
	<main>
		<nav id="menu_admin" class="mt-4">
			{% include "Templates_parts/_nav.html.twig" %}
		</nav>
		<hr>

			<h3 class="mt-4 ml-4 d-flex justify-content-center text-light">Paramêtres
			</h3>
		<section id="page_parametre" style="background-color:white" class=" container-fluid">
		<br>
			<article class="mt-4 container">

				<div class="accordion" id="accordionExample">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h2 class="mb-0">
								<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Les marques des machines
								</button>
							</h2>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body">
								
								<br>
                                
						<a class="btn" href="{{path('marque_index')}}">Marque de machine</a>
						<br>
						<a class="btn" href="{{path('modele_index')}}">Modeles des machines</a>	
						
                                
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Contrats
								</button>
							</h2>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body">
						<a href="{{path('contrats_index')}}" class="btn "> Liste des contrats </a>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree">
							<h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Type de poste
								</button>
							</h2>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
							<div class="card-body">
								<a href="{{path('poste_index')}}" class="btn">Les Postes</a>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</main>
{% else %}
	{% endif %}
{% endblock %}
