{#  Message  #}
<div class="modal fade bd-example-modal-lg" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Nouveau message</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<div class="modal-body">
				<article id="icon_message">
					<a href="" class="btn">RV</a>
					<a href="" class="btn"></a>
					<a href="" class="btn"></a>
				</article>
			</div>
            <div class="modal-footer">
            
				<a href="" class="btn" id="button_envoyer_message"><span>Envoyer</span> <i class="fa fa-paper-plane text-primary" aria-hidden="true"></i></a>
            </div>
		</div>
	</div>
</div>
