{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}
{% if app.user %}
	<aside class='ml-2 mr-2 mt-2 mb-1'>

		{% include "Templates_parts/aside.html.twig" %}
	</aside>{% endif %}
	<main>
	{% if app.user.roles[0] == "ROLE_ADMIN" %}
		<nav id="menu_admin" class="mt-4">
		
		
			{% include "Templates_parts/_nav.html.twig" %}
		
		
		</nav>{% else %} <nav style='height: 9vh;
    width: 80vw;'>
		
		</nav> {% endif %}

		{% if app.user.roles[0] == "ROLE_ADMIN" %}
		<hr>
		<h3 id="titre_tableau" style="color:white" class="">Tableau de bord</h3>
		 <section id="tableau_bord_admin" class="mt-4">
											<article id="intervention_admin" class="ml-4">
												<h4 class="mt-4 ml-4">Interventions</h4>
												<div class=""></div>
											</article>
											<article id="historique_admin" class="">
												<h4 class="mt-4 ml-4">Historique</h4>
												<div>
													<article>
														<table id="table_historyque_admin" class="table table-hover  mt-4 ml-2 " style="height:10%;">
															<thead>
																{# <tr>
																	<th scope="col">#</th>
																	<th scope="col">Date</th>
																	<th scope="col">Client</th>
																	<th scope="col">Atelier</th>
																	<th scope="col">Action</th>
																</tr> #}
															</thead>
															<tbody>
															
																{# <tr>
																	<th scope="row">1</th>
																	<td>Mark</td>
																	<td>Otto</td>
																	<td>@mdo</td>
																	<td>@mdo</td>
																</tr> #}

															</tbody>
														</table>
													</article>
												</div>
											</article>
								
										</section>  {% elseif app.user.roles[0] == "ROLE_USER" %}
										<hr>
										<h2 id="titre_tableau" class="mt-2 ml-4 d-flex justify-content-center text-light">Tableau de bord</h2>
		<section id="tableau_bord_client">
			<article id="intervention_client" class="ml-3">
				<h4 class="mt-4 ml-4">Mes rendez-vous</h4>
				<div></div>
			</article>
			<article id="zone_historique_et_indicateur" class="">
				<article  id="historique_client" class="">
					<h4 class="mt-4 ml-4">Mon Historique</h4>
					<div></div>
				</article>
				<div id="indicateur_client" class=' '></div>
			</article>
		</section>
		{% else %}
		<section>
		<P>Connexion Obligatoire</P>
		<p>Pour plus d'information orienter vous sur <a href="http://bkldiffusion.com/"target="_blank">BKL diffusion</a></p>
		</section>
		{% endif %}
	</main>
{% endblock %}
