{% block stylesheets %}
<style>
.contenaire{
    width:80vw;
    height:100px;
    background-color:red;
    float: left;
    

}
</style>
{% endblock %}
{% block body %}
<div class="contenaire">
<h1>CQS</h1>
<h3>Rapport de
Maintenance</h3>
</div>
{% endblock %}